**/altium/History
**/altium/__Previews
**/altium/AMDC.txt
**/altium/Project*
*.log

Accessories/ExpansionBoard_ADC_BNC/altium/PCB1.PcbDoc.htm
Accessories/ExpansionBoard_CAN/altium/CAN.PrjPcbStructure
altium/PCB_v4.PcbDoc.htm
